@{
	ViewData["Title"] = $"Elenco {nameof(Review)}";
}

<h1>@nameof(Review)</h1>

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Elenco @nameof(Review)</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Review" asp-action="Upsert" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Crea nuovo @nameof(Review)
			</a>
		</div>
	</div>
	<br /><br />

	<table id="tblData" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Valutazione</th>
				<th>Utente</th>
				<th>Film</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>
@section Scripts{
	<script src="~/js/Film.js"></script>
}