@model Cinema.Models.ViewModels.BuyTicketsViewModel
@{
	ViewData["Title"] = "Compra";
}

<div class="row g-4 mb-5 min-vh-100">
	<div class="col-lg-4">
		<h4 class="d-flex flex-column justify-content-between align-items-center mb-3">
			<span class="text-primary">@Model.FilmTitle</span>
			<span>@Model.Date.ToString("hh:mm dd/MM/yyyy")</span>
		</h4>
		<ul class="list-group mb-3">
			<li class="list-group-item py-auto">
				<h5>Carrello:</h5>
			</li>
			<li class="list-group-item d-none justify-content-between lh-sm" id="firstTicketCart">
				<h6 class="my-0"></h6>
				<span class="text-body-secondary"></span>
			</li>
			<li class="list-group-item d-none justify-content-between lh-sm" id="secondTicketCart">
				<h6 class="my-0"></h6>
				<span class="text-body-secondary"></span>
			</li>
			<li class="list-group-item d-none justify-content-between lh-sm" id="thirdTicketCart">
				<h6 class="my-0"></h6>
				<span class="text-body-secondary"></span>
			</li>
			<li class="list-group-item d-none justify-content-between lh-sm" id="fourthTicketCart">
				<h6 class="my-0"></h6>
				<span class="text-body-secondary"></span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span>Totale (EUR)</span>
				<strong id="totalCost">€ 0,00</strong>
			</li>
		</ul>
	</div>
	<div class="col-lg-8">
		<form method="post" asp-action="Buy">
			<input hidden asp-for="ShowId" id="showIdInput" />
			<h3>Scegli i biglietti</h3>
			<div class="mb-5 mt-3">
				<div class="seats-section flex-column justify-content-center">
					@for (int i = 0, lane = 0; i < Model.Capacity; lane++)
					{
						var seatsPerLane = Cinema.Helpers.TicketHelpers.GetMaxSeatsPerLane(lane);
						<div class="d-flex flex-row mx-auto">
							@for (int j = 0; j < seatsPerLane && i < Model.Capacity; j++, i++)
							{
								<button type="button" disabled class="seat" id="@((char)(65 + lane))~@(j + 1)" onclick="onSeatClicked(this)">
									<img src="~/images/site/seat.png" class="seat-img unavailable-seat" />
								</button>
							}
						</div>
					}
				</div>
				<div class="alternative-seats-section flex-column">
					<div id="firstTicket" class="row mb-2">
						<input hidden asp-for="Tickets[0].Cost" id="costFirst" />
						<div class="col-6">
							<label asp-for="Tickets[0].Lane"></label>
							<select asp-for="Tickets[0].Lane" id="laneSelectFirst" class="form-select" onchange="onLaneSelect(this)">
								<option selected value="0">--Seleziona la fila--</option>
							</select>
							<span asp-validation-for="Tickets[0].Lane" class="text-danger"></span>
						</div>
						<div class="col-6">
							<label asp-for="Tickets[0].Number"></label>
							<select asp-for="Tickets[0].Number" id="numberSelectFirst" class="form-select" onchange="onNumberSelect(this)">
								<option selected value="0">--Seleziona il numero--</option>
							</select>
							<span asp-validation-for="Tickets[0].Number" class="text-danger"></span>
						</div>
					</div>
					<div id="secondTicket" class="row mb-2">
						<input hidden asp-for="Tickets[1].Cost" id="costSecond" />
						<div class="col-6">
							<label asp-for="Tickets[1].Lane"></label>
							<select asp-for="Tickets[1].Lane" id="laneSelectSecond" class="form-select" onchange="onLaneSelect(this)">
								<option selected value="0">--Seleziona la fila--</option>
							</select>
							<span asp-validation-for="Tickets[1].Lane" class="text-danger"></span>
						</div>
						<div class="col-6">
							<label asp-for="Tickets[1].Number"></label>
							<select asp-for="Tickets[1].Number" id="numberSelectSecond" class="form-select" onchange="onNumberSelect(this)">
								<option selected value="0">--Seleziona il numero--</option>
							</select>
							<span asp-validation-for="Tickets[1].Number" class="text-danger"></span>

						</div>
					</div>
					<div id="thirdTicket" class="row mb-2">
						<input hidden asp-for="Tickets[2].Cost" id="costThird" />
						<div class="col-6">
							<label asp-for="Tickets[2].Lane"></label>
							<select asp-for="Tickets[2].Lane" id="laneSelectThird" class="form-select" onchange="onLaneSelect(this)">
								<option selected value="0">--Seleziona la fila--</option>
							</select>
							<span asp-validation-for="Tickets[2].Lane" class="text-danger"></span>
						</div>
						<div class="col-6">
							<label asp-for="Tickets[2].Number"></label>
							<select asp-for="Tickets[2].Number" id="numberSelectThird" class="form-select" onchange="onNumberSelect(this)">
								<option selected value="0">--Seleziona il numero--</option>
							</select>
							<span asp-validation-for="Tickets[2].Number" class="text-danger"></span>
						</div>
					</div>
					<div id="fourthTicket" class="row mb-23">
						<input hidden asp-for="Tickets[3].Cost" id="costFourth" />
						<div class="col-6">
							<label asp-for="Tickets[3].Lane"></label>
							<select asp-for="Tickets[3].Lane" id="laneSelectFourth" class="form-select" onchange="onLaneSelect(this)">
								<option selected value="0">--Seleziona la fila--</option>
							</select>
							<span asp-validation-for="Tickets[3].Lane" class="text-danger"></span>
						</div>
						<div class="col-6">
							<label asp-for="Tickets[3].Number"></label>
							<select asp-for="Tickets[3].Number" id="numberSelectFourth" class="form-select" onchange="onNumberSelect(this)">
								<option selected value="0">--Seleziona il numero--</option>
							</select>
							<span asp-validation-for="Tickets[3].Number" class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>

			<h4 class="mb-3">Pagamento</h4>
			<div class="row my-3 col-md-6 px-2">
				<label asp-for="ChosenPayment"></label>
				<select asp-for="ChosenPayment" id="paymentSelect" class="form-select" asp-items="@Model.PaymentMethods" onchange="onPaymentChanged()">
					<option disabled selected>--Seleziona il metodo di pagamento--</option>
				</select>
				<span asp-validation-for="ChosenPayment" class="text-danger"></span>
			</div>
			<div class="row gy-3" id="ccInfo">
				<div class="col-md-6">
					<label asp-for="NameOnCard" class="form-label"></label>
					<input type="text" class="form-control payment" asp-for="NameOnCard" maxlength="32">
					<span asp-validation-for="NameOnCard" class="text-danger"></span>
				</div>

				<div class="col-md-6">
					<label asp-for="CardNumber" class="form-label"></label>
					<input type="text" class="form-control payment" asp-for="CardNumber" maxlength="12">
					<span asp-validation-for="CardNumber" class="text-danger"></span>
				</div>

				<div class="col-md-3">
					<label asp-for="Expire" class="form-label"></label>
					<input type="text" class="form-control payment" asp-for="Expire" maxlength="5">
					<span asp-validation-for="Expire" class="text-danger"></span>
				</div>

				<div class="col-md-3">
					<label asp-for="CCV" class="form-label"></label>
					<input type="text" class="form-control payment" asp-for="CCV" maxlength="3">
					<span asp-validation-for="CCV" class="text-danger"></span>
				</div>
			</div>

			<hr class="my-4">

			<button class="w-100 btn btn-primary btn-lg" type="submit">Conferma acquisto</button>
		</form>
	</div>
</div>
<section Scripts>
	<script src="~/js/buy.js"></script>
</section>
