@model int
<div class="container row min-vh-100 mb-5">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Prenotazione confermata!</h1>
		L'id della tua prenotazione è' : @Model <br /><br />
		<img src="~/images/lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		La tua prenotazione è stata confermata! 
		<br />
	</div>
</div>