@{
	ViewData["Title"] = "Privacy Policy";
}

<div class="container d-flex flex-column min-vh-100 mx-2">
	<h1 class"mb-5">@ViewData["Title"]</h1>

	<p>
		Le seguenti norme sulla privacy - da intendersi rese anche quale informativa ai sensi
		dell’art. 13 del Regolamento europeo 2016/679 “General Data Protection Regulation” –
		hanno lo scopo di descrivere le procedure di raccolta e utilizzo dei dati personali
		attraverso questo sito internet e sono rivolte agli utenti e ai fruitori - da qui in
		avanti <em>utenti</em> - di Cinema - da qui in avanti indicato semplicemente come
		<em>sito</em>.
	</p>

	<div>
		Il sito raccoglie solamente i dati esplicitamente condivisi dall'User, ovvero:

		<ul class="mt-0">
			<li>Nome</li>
			<li>Cognome</li>
			<li>Email</li>
			<li>Sesso</li>
			<li>Data di nascita</li>
			<li>Hometown di residenza</li>
		</ul>

		Verrano altresì registrati i dati riguardanti gli acquisti di biglietti, ovvero l'orario
		della Show, il film e la quantità acquistata.<br/>
		Tali dati non verranno diffusi a terzi e saranno usati esclusivamente da
		Cinema per questioni statistiche.
		<br/><br/>
		Quanto sopra potrà essere cambiato in ogni momento in modo unilaterale.
	</div>
</div>
