@model ErrorViewModel
@{
    ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Errore</h1>
<h2 class="text-danger">Si è verificato un errore mentre la tua richiesta stava venendo processata.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Richiesta:</strong> <code>@Model.RequestId</code>
    </p>
}