@{
	ViewData["Title"] = "Elenco Proiezioni";
}

<h1>@nameof(Show)</h1>

<div class="container p-3 mb-5">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Elenco Proiezioni</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Show" asp-action="Upsert" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Crea nuova Proiezione
			</a>
		</div>
	</div>
	<br /><br />

	<table id="tblData" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Date e Ora</th>
				<th>Id Sala</th>
				<th>Film</th>
				<th>È in 3D</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>
@section Scripts{
	<script src="~/js/shows.js"></script>
}