@model Cinema.Models.ViewModels.EditTicketViewModel
@{
	ViewData["Title"] = $"Modifica Biglietto";
}

<form method="post" asp-action="Update">
	<input asp-for="NewTicket.ShowId" id="showInput" hidden />
	<input asp-for="NewTicket.UserId" hidden />
	<input asp-for="OldTicket.Lane" hidden />
	<input asp-for="OldTicket.Number" hidden />
	<input asp-for="OldTicket.Cost" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div asp-validation-summary="All"></div>
				<div class="row mb-1 col-6 ms-2">
					<label asp-for="NewTicket.Lane"></label>
					<select asp-for="NewTicket.Lane" class="form-select" id="selectLane" onchange="onLaneSelect()">
						<option selected>@Model.NewTicket.Lane</option>
					</select>
					<span asp-validation-for="NewTicket.Lane" class="text-danger"></span>
				</div>
				<div class="row mb-1 col-6 ms-2">
					<label asp-for="NewTicket.Number"></label>
					<select asp-for="NewTicket.Number" class="form-select" id="selectNumber" onchange="onNumberSelect()">
						<option disabled selected>@Model.NewTicket.Number</option>
					</select>
					<span asp-validation-for="NewTicket.Number" class="text-danger"></span>
				</div>
				<div class="row  mb-3 col-6 ms-2">
					<label asp-for="NewTicket.Cost"></label>
					<input asp-for="NewTicket.Cost" readonly class="form-control" id="costInput" />
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary" style="width:150px">Procedi</button>
					<a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Indietro
					</a>
				</div>
			</div>
		</div>
	</div>
</form>

<section Scripts>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script src="~/js/editTicket.js"></script>
</section>
