@model Room
@{
	ViewData["Title"] = "Crea/Modifica Sala";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="RoomId" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="row pb-2">
					<h2 class="text-primary">@(Model.RoomId is not 0 ? "Modifica" : "Crea") Sala</h2>
					<hr />
				</div>
				<div asp-validation-summary="All"></div>
				<div class="row mb-3">
					<label asp-for="HasISense"></label>
					<input asp-for="HasISense" class="form-cotrol" />
					<span asp-validation-for="HasISense" class="text-danger"></span>
				</div>
				<div class="row mb-3">
					<label asp-for="Seats"></label>
					<input asp-for="Seats" class="form-cotrol" type="number" />
					<span asp-validation-for="Seats" class="text-danger"></span>
				</div>
				<div class="col-12">
					@if (Model.RoomId is not 0)
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Modifica</button>
					}
					else
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Crea</button>
					}
					<a asp-controller="Room" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Indietro
					</a>
				</div>
			</div>
		</div>
	</div>
</form>

<section Scripts>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
</section>